#about {
  display: flex;
  justify-content: center;
  align-items: center;
}

#aboutWrapper {
  width: 1050px;
  height: 1087px;
  margin-left: 95px;
  display: flex;
  align-items: center;
}

#aboutTitleWrapper {
  flex: 1;
  padding-top: 2em;
  height: 80%;
}

#aboutTitleWrapper > h1 {
  font-size: 54px;
  background: linear-gradient(180deg, #ffffff 35.26%, #f5b478 77.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#aboutInfoWrapper {
  flex: 2;
  display: flex;
  align-items: center;
  height: 80%;
}

#aboutInfoCard {
  width: 100%;
  padding: 2em;
  text-align: left;
}

#aboutInfoCard > h1 {
  font-size: 40px;
  margin: 0;
}

#aboutInfoCard > p {
  font-size: 22px;
}
