* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* user-select: none; */
  overflow: hidden;
  font-family: Tahoma, sans-serif;
  color: white;
}

#root {
  overflow: auto;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  background-color: #0c030c;
  font-family: 'Inter var', sans-serif;
  -webkit-font-smoothing: antialiased;
}
